<%if type=="full" %>
<%unless job.active? %>
  <div class="alert alert-danger">Esta vaga está expirada!</div>
<%end%>
<div class="col-xs-12 col-sm-9">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="jumbotron">
    <h1><%=job.title%></h1>
    <p><b>Localização: </b><%=job.location%></p>
    <p><b>Empresa: </b><%=job.company.name%></p>
    <p><b>Descrição: </b><%=job.description%></p>
    <p><b>Categoria: </b><%=job.category.name%></p>
    <p><b>Tipo de contrato: </b><%=job.contract_type.name%></p>
    <%if job.featured %>
    <p><i class="glyphicon glyphicon-star"></i><b> Vaga Patrocinada</b></p>
    <%elsif job.recent? %>
    <p><i class="glyphicon glyphicon-asterisk"></i><b> Vaga Nova!</b></p>
    <%elsif job.premium? %>
    <p><i class="glyphicon glyphicon-briefcase"></i><b> Empresa Premium</b></p>
    <%end%>
    <p><%= link_to ' Voltar', root_path, class: "btn btn-default glyphicon glyphicon-chevron-left" %>
    <%= link_to ' Editar', edit_job_path(job), class: "btn btn-default glyphicon glyphicon-edit" %></p>
  </div>
</div>
<%else%>
  <div class="col-xs-6 col-lg-4 ">
    <%if job.featured %>
    <div class="bordered featured">
    <%elsif job.recent? %>
    <div class="bordered recent">
    <%elsif job.premium? %>
    <div class="bordered premium">
    <%else%>
    <div class="bordered common">
    <%end%>
      <h3 class="title"><%=job.title%></h3>
      <p><b>Localização: </b><%=job.location%></p>
      <p><b>Empresa: </b><%=job.company.name%></p>
      <%if job.featured %>
      <p><a href=<%=job_path(job)%> class="btn btn-warning"><i class="glyphicon glyphicon-star"></i><span class="hidden-xs"> Featured |</span> Detalhes »</a></p>
      <%elsif job.recent? %>
      <p><a href=<%=job_path(job)%> class="btn btn-success"><i class="glyphicon glyphicon-asterisk"></i><span class="hidden-xs"> Novo! |</span> Detalhes »</a></p>
      <%elsif job.premium? %>
      <p><a href=<%=job_path(job)%> class="btn btn-danger"><i class="glyphicon glyphicon-briefcase"></i><span class="hidden-xs"> Premium |</span> Detalhes »</a></p>
      <%else%>
      <p><%= link_to 'Detalhes »', job, class: "btn btn-info" %></p>
      <%end%>
    </div>
  </div><!--/.col-xs-6.col-lg-4-->
<%end%>
